
body {
    background: purple;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.first{ 
    background: pink;
    padding: 20px;
}
.second{
    background-color: orange;
}
.first h2{
    color:red;
}
.second h2{
 color:green;
}
